<div>
    <p>
      <input
        type="text"
        name="firstName"
        placeholder="Enter first name"
        class="t-firstName"
        [(ngModel)]="firstName"  
      >
    </p>
    <p>
      <input
        type="text"
        name="lastName"
        class="t-lastName"
        placeholder="Enter last name"
        [(ngModel)]="lastName"
      >
    </p>
    <p class="t-fullName">
      Full Name: {{ firstName }} {{ lastName }}
    </p>
  <!-- <p>
    <input
      type="text"
      placeholder="Enter first name"
      [value]="firstName"
      #fName
      (keyup)="onFirstNameChanged(fName.value)"  
    >
  </p>
  <p>
    <input
      type="text"
      placeholder="Enter last name"
      [value]="lastName"
      #lName
      (keyup)="onLastNameChanged(lName.value)"
    >
  </p>
  <p>
    Full Name: {{ firstName }} {{ lastName }}
  </p> -->
</div>